body{
  padding-top: 80px;
}
.nav-item{
  padding: 0 20px;
}
.nav-item:hover{
  border-bottom: solid;
  transition: .1s;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}